<!-- <button (click)="getStudentInfo()">Student Info</button> -->


<div class="topnav">
  <a routerLinkActive="active" routerLink="student">Student</a>
  <a routerLinkActive="active" routerLink="customer">Customer</a>
  <a routerLinkActive="active" routerLink="login">Login</a>
  <a routerLinkActive="active" routerLink="aboutus">{{aboutUsLabel}}</a>
{{someFunction()}}

  <!-- {{aboutUsLabel | yourPipeName}} -->
  <p>{{username}}</p>
  <button type="submit" (click)="logout()">Logout</button>
  <button type="submit" (click)="updateUserInfo()">Update user Info</button>
</div>

<router-outlet></router-outlet>